.first {background-color: #FEF7E5;
    position: relative;

    &__flow {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &__flow2 {
        position: absolute;
        top: 0px;
        right: 0px;  
    }

    &__mid {
        max-width: 672px;
        margin: auto;
        text-align: center;
        padding: 102px 0px 0px;
    }

    &__mid h1 {
        font-size: 55px;
        line-height: 122%;
        color: #000000;
    }

    &__mid p {
        font-size: 20px;
        line-height: 140%;
        color: #000000;
    }

    &__mid button {
        font-family: inherit;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        border-radius: 24px;
        background-color: #6F1EAA;
        padding: 15px 40px;
    } 

    &__rab {
        text-align: right;
    }

}

@media screen and (max-width: 991.75px) {
    .first {

        &__mid h1 {
            font-size: 40px;
        }

        &__mid p {
            font-size: 15px;
        }

        &__flow {
            height: 345px;
        }

        &__flow2 {
            height: 455px;
        }

        &__mid button {
            font-size: 10px;
            padding: 10px 25px;
        }

        &__rab {
            transform: scale(0.7);
        }

    }

}

@media screen and (max-width: 767.75px) {

    .first {
        
        &__flow {
            height: 239px;
        }

        &__mid {
            padding: 15px 0px 0px;
        }

        &__flow2 {
            height: 197px
        }

        &__rab {
            transform: scale(0.5);
            margin: -60px 0px 0px 45px;
        }
    }

}