.second {
    position: relative;

    &__row1{
        display: flex;
    }

    &__row {
        flex: 1 0 50%;
        max-width: 50%;
    }

    &__item1 {
        max-width: 527px;
        margin: auto;
        text-align: left;
    }

    &__item1 h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 120%;
        color: #000000;
    }

    &__dog {
        text-align: center;
    }

    &__item2 {
        max-width: 527px;
        margin: auto;
        text-align: left;
        padding: 25px 0px 0px;
    }

    &__item2 h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 132%;
        color: #6F1EAA;
    }

    &__patients {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: solid 2px #F7A500; 
    }

    &__patients p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 142%;
        color: #000000;
    }

    &__tailored {

    }
    &__tailored h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 142%;
        color: #000000;
    }
    &__tailored p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 151%;
        color: #000000;
    }

    &__support {
        margin-top: 20px;
        padding-top: 5px;
        border-top: solid 2px #F7A500; 
    }
    &__support p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 207%;  
        color: #000000;
    }
}

