.third {
    position: relative;

    &__how {
        text-align: center;
        margin-bottom: 65px;
    }

    &__how h1 {
        font-size: 44px;
    line-height: 53px;
    color: #000000;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__col {
        flex: 1 0 33.33333%;
        max-width: 33.3333%;
        position: relative;
        justify-content: center;
        text-align: center;    
    }

    &__col h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 132%;
        color: #6F1EAA;
    }

    &__col p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 142%;
        color: #000000;
    }

    &__col2 {
        z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 225px;
    height: 225px;
    background: #FFF7C2;
    border-radius: 50%;
    }

    &__img {
        margin-top: 40px;
    }

    &__text1 {
        margin-top: 71px;
        padding: 0px 15px;
    }

    &__text2 {
        margin-top: 97px;
        padding: 0px 15px;
    }

    &__text2 {
        padding: 0px 15px;
    }

    &__but {
        text-align: center;
        margin-top: 65px;
    }

    &__but button {
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        background: #6F1EAA;
        border-radius: 24px;  
        padding: 15px 40px; 
    }

}

@media screen and (max-width: 991.75px) {

    .third {

        &__col2 {
            width: 150px;
            height: 150px;
        }

        &__img {
            margin-top: 11px;
            transform: scale(0.6);
        }

        &__text1 {
            margin-top: 71px;
        }

        &__col h2 {
            font-size: 20px;
        }

        &__col p {
            font-size: 12px;
            line-height: 120%;
        }

        &__img3 {
            transform: scale(0.6);
            margin-top: -39px;   
        }

        &__text1 {
            margin-top: 20px;
        }

        &__text2 {
            margin-top: 48px;
        }

        &__text3 {
            margin-top: -33px;
        }

        &__how {
            margin-bottom: 20px;
        }

        &__but {
            margin-top: 25px;
        }

        &__but button {
            font-size: 10px;
            padding: 10px 25px;
        }
    }
}

@media screen and (max-width: 767.75px) {

    .third {

        &__col {
            flex: none;
            max-width: none;
        }

        &__row {
            flex-direction: column;
            align-items: center;
        }
        
        &__col h2 {
            line-height: 100%;
        }

        &__col p {
            line-height: 100%;
        }

        &__text1 {
            padding: 0px;
        }

        &__text2 {
            padding: 0px;
        }

        &__text3 {
            padding: 0px;
        }

    }
}

        
    
