.six {
    position: relative;
}
.in {
    text-align: center;
    font-size: 44px;
line-height: 53px;
color: #000000;
}
.the {
    text-align: center;
    font-weight: 500;
font-size: 13px;
line-height: 23px;
text-align: center;
color: #000000;
}
.six_row {
    display: flex;
    justify-content: center;
}
.six_row1 {
margin-right: auto;
}
.six_row2 {
    margin-right: 30px;
}
.six_row3 {
    margin-left: 30px;  
}
.six_row4 {
   text-align: right;
   margin-left:auto ;
}
.six_row2img {
    text-align: right;  
}
.six_row h1 {
    font-size: 15px;
    line-height: 23px;
    color: #F7A500;
} 
.six_row h2 {
    font-size: 24px;
line-height: 32px;
color: #000000;
} 
.six_row h3 {
    font-size: 11px;
    line-height: 23px;
    color: #000000;   
} 
.six_row a {
    padding-top:30px ;
    text-decoration: none;
    font-size: 16px;
line-height: 19px;
color: #6F1EAA;  
} 
.six_a {
    margin-top: 40px;
}
.six_row2text {
    flex-direction: column;
    padding: 0px 0px 0px 30px;
}
.six_row3text {
    padding: 0 0 0 30px;
}
.six_but {
    margin-top: 100px;
    text-align: center;
}
.six_but button {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #6F1EAA;
    border-radius: 24px;
    padding: 15px 40px;
}