.header.container { 
    max-width: 1250px;
}
.header_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.nav { 
    flex: 1 0 calc(50% - 124px/2);
    max-width: calc(50% - 124px/2);
    font-size: 14px;
    line-height: 18px;
}
.nav ul{
    padding: 0px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
.nav a {
    padding: 0px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
line-height: 18px;
color: #000000;
}
.nav li {
    margin: 0px -9px;
}
.item_img {
    flex: 1 0 124px;
    max-width: 124px;
    align-self: center;
}
.item_butt {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 calc(50% - 124px/2);
    max-width: calc(50% - 124px/2);
}
.item_butt a {
    text-decoration: none;
    font-size: 14px;
line-height: 18px;
color: #6F1EAA;
}
.item_butt1 {
    margin-left: 30px;
}
.item_butt1 button{
    font-size: 14px;
line-height: 18px;
color: #FFFFFF;
background: #6F1EAA;
border-radius: 19px;
padding: 15px 35px;
}

@media screen and (max-width: 991.75px) {

    .nav {
        display: none;
    }
    .header__burger {
        margin: 0px auto;
        align-self: center;
        position: relative;
        width: 25px;
        height: 25px;
    }
    .header__burger2{
        display: block;
    }

    .header__burger > span,
    .header__burger > span::before,
    .header__burger > span::after {
        display: block;
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #6F1EAA;
    }   
    .header__burger > span::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 16px;
    }
    .header__burger > span::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -8px;
    }
    .item_butt a {
        font-size: 11px;
    }
    .item_butt1 button {
        font-size: 11px; 
        padding: 15px 22px;
    }
}
@media screen and (max-width: 767.75px) {
    .item_butt{
        flex-wrap: wrap;
        text-align: center;
    } 
    .container {
        padding: 0 10px;
    }
}

   
  