section.first 
    .container
        img.first__flow(src="./assets/imgs/flow.png", alt="")     
        .first__mid 
            h1 The pet pharmacy humans are jealous of.
            p 5 stars on Yelp, Google and Facebook because your best friend deserves only the best in pet care.
            button Try Mixlab
            .first__rab  
                img(src="./assets/imgs/rab.png", alt="")
        img.first__flow2(src="./assets/imgs/flow2.png", alt="")             