section.first 
    .items
        .flow
            img(src="./assets/imgs/flow.png", alt="")
        .pet     
            .mid 
                h1 The pet pharmacy humans are jealous of.
                p 5 stars on Yelp, Google and Facebook because your best friend deserves only the best in pet care.
                button Try Mixlab
            .rab    
                img(src="./assets/imgs/rab.png", alt="") 
        .flow2
                img(src="./assets/imgs/flow2.png", alt="")             