section.third 
    .how 
        h1 How it works 
    .third_row 
        .third_col
            .third_col2
            .third_img
                img(src="./assets/imgs/dog1.png", alt="")
            h1.rec We receive your prescription
            p Either your veterinarian sends us a prescription or we reach out to them for you. Whatever is easiest!
        .third_col
            .third_col2
            .third_img
                img(src="./assets/imgs/dog2.png", alt="")
            h1.del We deliver your care package
            p.fast Fast and free next-day delivery, straight to your door. Same-day in NYC and LA.
        .third_col
            .third_col2
            img(src="./assets/imgs/dog3.png", alt="")
            h1.you You treat your pet
            p.give  Give your pet the care they need to feel better. Plus they can play with our included toy!  
    .third_but
        button  Learn more 