section.fifth 
    .pets 
        h1 Pets love Mixlab!
    .see
        p See why we're 5 stars on Yelp, Google and Facebook:)
    .heart 
        img(src="./assets/imgs/heart.png", alt="")
    .slide 
        .dog4 
            img(src="./assets/imgs/dog4.png", alt="")
        .slide_text 
            p “Tootsie just received her Mixlab order and she’s so excited for it! Within two hours of ordering it got delivered to the house and its like she knew it was at the door. She absolutely hates taking her medicine but she truly loves her Mixlab box because it’s so informative, quick, easy to order but especially because includes a new toy each time! Thank you Mixlab for always taking care of her! She can’t wait to place her next order now!”
            .slide_text2 
                img(src="./assets/imgs/inst.png", alt="")    
                p  Tootsie, CA  