section.six
    .in
        h1 In the Wild
    .the 
        p In The Wild is a collection of pieces to help close the communication gap, while growing the love (and understanding) between you and your best pal.
    .six_row 
        .six_row1 
            .six_row1img
                img(src="./assets/imgs/six1.png", alt="")
        .six_row2          
            .six_row2img
                img(src="./assets/imgs/six2.png", alt="")
            .six_row2text 
                h1 May 3, 2021
                h2 What is compounding?
                h3 Compounding is the art and science of preparing personalized medications.
                .six_a  
                    a(href="#") Read the article
        .six_row3 
            .six_row3img
                    img(src="./assets/imgs/six3.png", alt="")
            .six_row3text 
                h1 June 15, 2021
                h2 Anxiety in Pets
                h3 An interview with a top behavioral specialist in NYC.
                .six_a  
                    a(href="#") Read the article 
        .six_row4
            .six_row4img
                img(src="./assets/imgs/six4.png", alt="")
    .six_but 
        button Learn More    