section.six
    .container
        .six__in
            h1 In the Wild
        .six__the 
            p In The Wild is a collection of pieces to help close the communication gap, while growing the love (and understanding) between you and your best pal.
        .six__row 
            .six_row1 
                .six_row1img
                    img(src="./assets/imgs/six1.png", alt="")
            .six__row2          
                .six__row2img
                    img(src="./assets/imgs/six2.png", alt="")
                .six__row2text 
                    h1 May 3, 2021
                    h2 What is compounding?
                    h3 Compounding is the art and science of preparing personalized medications.
                    .six__a  
                        a(href="#") Read the article
            .six__row3 
                .six__row3img
                        img(src="./assets/imgs/six3.png", alt="")
                .six__row3text 
                    h1 June 15, 2021
                    h2 Anxiety in Pets
                    h3 An interview with a top behavioral specialist in NYC.
                    .six__a  
                        a(href="#") Read the article 
            .six__row4
                .six__row4img
                    img(src="./assets/imgs/six4.png", alt="")
        .six__but 
            button Learn More    