section.six
    .container
        .six__in
            h2 In the Wild
        .six__the 
            p In The Wild is a collection of pieces to help close the communication gap, while growing the love (and understanding) between you and your best pal.
        .six__row 
            //-.six__row1 
                img(src="./assets/imgs/six1.png", alt="")
            .six__row_first 
                .six__row_box         
                    .six__row_first_img
                        img(src="./assets/imgs/six2.png", alt="")
                    .six__row_first_text    
                        h4 May 3, 2021
                        h2 What is compounding?
                        h3 Compounding is the art and science of preparing personalized medications.
                        .six__row_first_a  
                            a(href="#") Read the article
            .six__row_second 
                .six__row_box_second
                    .six__row_second_img
                            img(src="./assets/imgs/six3.png", alt="")
                    .six__row_second_text 
                        h4 June 15, 2021
                        h2 Anxiety in Pets
                        h3 An interview with a top behavioral specialist in NYC.
                        .six__row_second_a  
                            a(href="#") Read the article 
            //-.six__row4
                    img(src="./assets/imgs/six4.png", alt="")
        .six__but 
            button Learn More    