section.icons
    .icons_row 
        .icons_row_items
            img(src="./assets/imgs/7-1.png", alt="")
        .icons_row_items
            img(src="./assets/imgs/7-2.png", alt="")
        .icons_row_items
            img(src="./assets/imgs/7-3.png", alt="")
        .icons_row_items
            img(src="./assets/imgs/7-4.png", alt="")
        .icons_row_items
            img(src="./assets/imgs/7-5.png", alt="")
footer.footer 
    .footer_row 
        .footer_row_items
            .footer_row_text1 
                h1 Quick Links
            p 
                a(href="#")  Veterinarians
            p 
                a(href="#") Products
            p 
                a(href="#") How it Works
            p 
                a(href="#") About us
            p 
                a(href="#") Blog
            p 
                a(href="#") Shop
            p 
                a(href="#") Careers
            p 
                a(href="#") Veterinarian login
            p 
                a(href="#") Contact us
        .footer_row_items
            .footer_row_text1 
                h1 Call or Text
            p (888) 901-4480
            .footer_row_text1_1 
                h1 Email
            p hello@mixlabrx.com
            .footer_row_text1_1
                h1 Fax
            p (212) 967-0892
        .footer_row_items
            .footer_row_text1 
                h1 New York City
            .footer_row_text1_2 
                p 336 West 37th St  
                p Suite 850
                p New York, NY 10018
            p Mon-Sat 10am - 8pm ET
            p Sun 10am - 2pm ET      
        .footer_row_items
            .footer_row_text1 
                h1 Los Angeles
            .footer_row_text1_2    
                p 2223 Federal Ave  
                p Los Angeles, CA 90064
            p Mon-Sat 9am - 7pm PT
            p Sun 9am - 1pm PT      
        .footer_row_items
            .footer_row_text5 
                h1 Social 
            .footer_row2   
                .footer_row_img 
                    a(href="#") 
                        img(src="./assets/imgs/f-1.png", alt="")
                .footer_row_img
                     a(href="#")  
                        img(src="./assets/imgs/f-2.png", alt="")
                .footer_row_img
                    a(href="#")  
                        img(src="./assets/imgs/f-3.png", alt="")
                .footer_row_img
                    a(href="#")  
                        img(src="./assets/imgs/f-4.png", alt="")
                .footer_row_img
                    a(href="#")         
                        img(src="./assets/imgs/f-5.png", alt="")
