header.header  
    .header_row 
        .header_row_item
            nav.nav 
                ul
                    li 
                        a(href="#") Veterinarians
                    li 
                        a(href="#") How it works
                    li 
                        a(href="#") About us
                    li 
                        a(href="#") Blog
                    li
                        a(href="#") Shop
        .header_row_item
            .item_img       
                img.logo(src="./assets/imgs/logo.png", alt="")        
        .header_row_item
            .item_butt 
                p 
                    a(href="#") Veterinarian login
                .item_butt1
                    button Try Mixlab 