header.header  
    .container 
        .header_row 
            .header__burger
                .header__burger2
                span 
            nav.nav 
                ul
                    li 
                        a(href="#") Veterinarians
                    li 
                        a(href="#") How it works
                    li 
                        a(href="#") About us
                    li 
                        a(href="#") Blog
                    li
                        a(href="#") Shop
            .item_img       
                img.logo(src="./assets/imgs/logo.png", alt="")        
            .item_butt 
                p 
                    a(href="#") Veterinarian login
                .item_butt1
                    button Try Mixlab 