header.header 
    .header-row
        nav.nav 
            ul
                li 
                    a(href="#") Veterinarians
                li 
                    a(href="#") How it works
                li 
                    a(href="#") About us
                li 
                    a(href="#") Blog
                li
                    a(href="#") Shop  

        img.logo(src="./assets/imgs/logo.png", alt="")
        button.vet Veterinarian login
        button.try Try Mixlab    

