doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="./assets/css/app.css")
    body.wrapper
        //- здесь компоненты страницы
        include ./components/header1.pug
        include ./components/1section.pug
        include ./components/2section.pug
        include ./components/3section.pug
        include ./components/4section.pug
        include ./components/5section.pug 
        //-include ./components/6section.pug
        //-include ./components/footer.pug